body {
    background-color: rgb(19, 166, 235);
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 75px;
    object-position: 35% center;
    margin: 5px 5px 5px 5px;
}

p {
    font-size: 25px;
}

#tag {
    font-weight: bold;
}