.welcome-container {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url(../Images/Home-Background.jpg);
  background-size: cover;
  background-position: 0 -200px;
  color: white;  
}

.welcome-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 { 
  color: white;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  user-select: none;
}

.home-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.section-head {
  font-size: 40px;
  text-decoration: none;
}

.section-text {
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}

.introduction {
  height: 600px;
  display: flex;
  overflow: hidden;
}

.introduction-text {
  display: flex;
  background-color: rgb(235, 230, 75);
  width: 40%;
  padding: 10px 100px;
}

.introduction-wrapper {
  align-self: center;
}

.introduction-img {
  background-color: aqua;
  width: 60%;
  object-fit: cover;
  object-position: -20px -50px;
  transform: scale(1.1, 1.1);
}

.project {
  padding: 20px 300px 40px;
  background-color: whitesmoke;
}

.project-head {
  display: flex;
  justify-content: space-between;
}

.project-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.project-item {
  width: 400px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: #1E2025;
}

.project-img {
  width: 100%;
  height: 275px;
  border-radius: 30px;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.project-tool {
  margin: 0;
  font-weight: 300;
  line-height: 16px;
  color: rgb(130, 130, 252);
}

.project-date {
  margin: 0;
  color: #5B616E;
  font-weight: 300;
}

.project-name {
  box-sizing: border-box;
  padding: 5px 0;
  margin: 0;
}

.view-all {
  color: #5B616E;
  text-decoration: none;
  align-self: center;
}

footer {
  background-color: #1E2025;
  min-height: 200px;
  color: beige;
}
