html {
  overflow: scroll;
}

body {
  /* Default font settings */
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  margin: 0 0 0 0;
  background-image: url("/Images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-head {
  position: fixed;
  min-width: 100%;
  min-height: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: white;
}

.link-list{
  display: flex;
  margin: 0;
  padding-left: 56px;
}

.nav-link {
  color: #5B616E;
  padding: 18px 20px;
  text-decoration: none;
}

.link-icon {
  margin: 0;
  padding-right: 28px;
}

.img-icon {
  padding: 18px 20px;
  height: 24px;
}

#test {
  width:90%;
  margin: 1% auto;
  min-height: 2000px;
  
  background-color: rgba(255, 255, 255, 0.8);
}